
 .OtherLinksBoxComponentClass {
    background-color:var(--whiteColor);
    position: absolute;
    width: 100%;

    left: 50%;
    left: 0;
    padding: 30px;
    border-bottom: 3px solid var(--mainColorAlt);
    z-index: 100;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--transitionDuration), opacity var(--transitionDuration) , visibility var(--transitionDuration) ;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

 .activeOtherLinksBoxComponentClass {

    z-index: 1;
    opacity: 100;
    visibility: visible;
    top: 100%;
}

@media (max-width:1200px) {
     .OtherLinksBoxComponentClass {
        flex-direction: column;
        gap: 0;
        padding: 4px;
    }
}


 .OtherLinksBoxComponentClass .image img {
    max-width: 100%;
width: 200px;

}

@media (max-width:1200px) {
     .OtherLinksBoxComponentClass .image img {
        display: none;
    }
}

 .OtherLinksBoxComponentClass .links {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--spacingSmall);

    flex: 1;
}

 .OtherLinksBoxComponentClass .links li {
    position: relative;

}

 .OtherLinksBoxComponentClass .links li:not(:last-child) {
    border-bottom: 1px solid var(--primaryColor);
}

@media (max-width:1200px) {
     .OtherLinksBoxComponentClass .links:first-of-type li:last-child {
        border-bottom: 1px solid var(--primaryColor);
    }
}

 .OtherLinksBoxComponentClass .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 80%;
    background-color: var(--veryLightPrimaryColorV1);
    z-index: -1;
    transition: var(--transitionDuration);
}

 .OtherLinksBoxComponentClass .links li:hover::before {
    width: 100%;
}

 .OtherLinksBoxComponentClass .links li a {
   color: var(--blackColor);
   svg{
    color: var(--primaryColor);
    margin-right: 10px;
   }
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;


}
