.ProfileComponentClass {

    color: var(--blackColor);

    background-color: var(--lightColor);
    display: flex;
    gap: var(--spacingSmall);
    flex-grow: 1;

    >.mainContent {
        flex-grow: 1;

        padding: var(--spacingLarge) var(--paddingLarge);
        display: flex;
        /* 140px :the  header height */
      max-height: calc(100dvh - 140px);
      overflow: auto;
      scrollbar-width: none;

        flex-direction: column;
        align-items: center;
        gap: var(--spacingLarge);


    }
    
    


}