.FooterOutletComponentClass {
    /*  */
    margin-top: 150px;
    display: flex;
    padding: 15px 20px;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    box-shadow: var(--boxShadowLight);
    background-color: white;
    align-items: center;
    flex-wrap: wrap;

    &.isOffersDetailsPage {
        /* later */
    }

    &>.leftSide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        gap: 50px;

        &>img {
            width: 100px;
        }

        &>.socialContainer {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--paragraphColor);
        }
    }

    &>.rightSide {
        display: flex;
        flex-wrap: wrap;
        justify-content: baseline;

        gap: 50px;

        &>ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &>li {
                display: flex;
                gap: 5px;
                align-items: center;

                &>.icon {
                    color: var(--primaryColor);
                }

                &>a {
                    color: black;
                }
            }
        }
    }

}