/* variables.css */

/* Colors */
:root[data-theme="dark"] {
    --primaryColor: #3a6a8f;           /* Primary brand color (blue) */
    --primaryDarkColor: #a1b6c9;       /* Darker shade of primary (blue) */
    --primaryLightColor: #b4c8d2;      /* Lighter shade of primary (blue) */
    --backgroundLightColor: #121212;   /* Dark background */
    --accentRedColor: #f44336;         /* Accent red for errors or attention */
    --darkGrayColor: #eeeeee;          /* Light gray for text */
    --lightDarkGrayColor: #eeeeee9a;   /* Light gray with transparency for borders */
    --veryLightBlackColor: #ffffff7f;  /* for input */
    --blackColor: #ffffff;             /* White for text or highlights */
    --lightBlackColor: #ffffffd3;      /* White for text or highlights */
    --whiteColor: #000000;             /* Black */
    --lightColor: #000000;             /* Black */
    --warningColor: #ff9800;           /* Warning color */
    --paragraphColor: #636363b4;       /* Light gray for paragraphs */
    --veryLightPrimaryColorV1: #3e3d3d; /* Dark gray for subtle backgrounds */
}

/* Font Sizes */
:root[data-theme="dark"] {
    --fontSizeSmall: 0.875rem;         /* Small text */
    --fontSizeBase: 1rem;              /* Base text */
    --fontSizeLarge: 1.25rem;          /* Large text */
    --fontSizeH1: 2rem;                /* Heading 1 */
    --fontSizeH2: 1.75rem;             /* Heading 2 */
    --fontSizeH3: 1.5rem;              /* Heading 3 */
}

/* Spacing */
:root[data-theme="dark"] {
    --spacingSmall: 10px;              /* Small spacing */
    --spacingMedium: 16px;             /* Medium spacing */
    --spacingLarge: 24px;              /* Large spacing */
    --spacingXLarge: 32px;             /* Extra-large spacing */
}

/* Border Radius */
:root[data-theme="dark"] {
    --borderRadiusSmall: 4px;
    --borderRadiusMedium: 8px;
    --borderRadiusLarge: 12px;
    --borderRadiusExtraLarge: 30px;
}

/* Padding */
:root[data-theme="dark"] {
    --paddingSmall: 10px;
    --paddingMedium: 15px;
    --paddingLarge: 20px;
    --paddingExtraLarge: 30px;
}

/* Shadows */
:root[data-theme="dark"] {
    --boxShadowLight: 0 2px 5px rgba(255, 255, 255, 0.12);
    --boxShadowMedium: 0 4px 10px rgba(255, 255, 255, 0.16);
}

/* Transition */
:root[data-theme="dark"] {
    --transitionDuration: 0.3s;
    --transitionEase: ease-in-out;
}