.searchInputComponentClass{
    display: flex;
width: 310px;

    justify-content: center;
    align-items: center;
    gap: var(--spacingLarge);
   background-color: white;
    padding:  0 var(--paddingMedium);
    border-radius: var(--borderRadiusSmall);
    
    >.searchIcon{ 
        font-size: var(--fontSizeH2);
        font-weight: bold;
        color: var(--primaryColor);
    }
    >input{
        font-size: var(--fontSizeMedium);
        padding: var(--paddingMedium)  0;
        flex-grow: 1;
        
    }

&.searchInputProfileSectionComponentClass{
    @media(max-width:767px) {
        
        display: none;
    }
}
}